@import 'sass/helpers/variables';

.header{
    .logo{
        width: 30%;
        float: $float-right;
        h1{
            
        }
        p{
            
        }
    }
    .navbar{
        width: 70%;
        float: $float-right;
        li{
            
        }
    }
}