

/* 
--- Start Footer
*/
.footer{
    background-color: #e2e2e2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    overflow-x: hidden;
    .gallery, .info, .contact-us{
        float: $float-left;
    }
    .gallery{
        width: 50%;
        .img-box{
            overflow: hidden;
            img{
                margin-bottom: 15px;
                padding: 3px;
                border: 2px solid #777;
                width: 150px;
                height: 150px;
                float: $float-left;
            }
            .text{
                margin-right: 15px;
                margin-left: 15px;
                width: calc(100% - 180px);
                float: $float-left;
            }
            h4{
                margin-top: 5px;
                color: $redColor;
            }
            p{
                color: #555;
                line-height: 1.85;
                margin-top: 5px;
            }
        }
    }
    .info{
        width: 25%;
        ul{
            padding-left: 0px;
            color: #555;
            li{
                line-height: 1.7;
                span{
                    color: $redColor;
                }
            }
        }
        h4{
            color: #555;
        }
        p{
            color: #555;
        }
    }
    .contact-us{
        width: 25%;
        input[type=text],
        input[type=email],
        textarea{
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            outline: none;
            font-size: 18px;
            letter-spacing: 1.2px;
        }
        textarea{
            height: 150px;
            resize: none;
        }
    }
    .section-title{
        color: #444;
        font-weight: normal;
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .copy-right{
        margin-top: 30px;
        padding: 25px 0;
        border-top: 1px solid #aaa;
        color: #444;
        overflow: hidden;
        .copyRight-text,
        .designer{
            float: $float-left;
            width: 50%;
        }
        .designer{
            text-align: $text-right;;
        }
    }
}

/* 
--- End Footer
*/